<!--********************************************************
* File: index.ejs
* Student: Kevin Eduardo Curiel Justo
* ID: 301214229
* Date: 04/Jun/22
********************************************************/-->


<% include partials/header.ejs %>
<style>
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  </style>

  <h1 class="p3"><%= title %></h1>
  <body style="background-color:powderblue;"></body>
  <p class="p3"><%= subtitle %></p>

  <br><br><h3 class="p3"><%= paragraphHeader %></h3>
  <p class="p3"><%= paragraph %></p>
  
  <% if (title == "Home") { %>
  <a href="/about"> 
    <button class="button button2">Learn about me</button>
  </a>
  <% } else { %>
  <img src="/images/Photo.jpg" style="width:200px;"><br>
  <a href="/file/Resume.pdf" download="Resume">Download My Resume!</a>
  <% } %>   

  
  <% include partials/footer.ejs %>