<!--********************************************************
* File: users.ejs
* Student: Kevin Eduardo Curiel Justo
* ID: 301214229
* Date: 04/Jun/22
********************************************************/-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <body style="background-color:powderblue;"></body>
  <p>Welcome to test <%= title %></p>

  <a href="/about"> 
    <button class="button button2">About Me</button>
  </a>

  <p>Mission Statement</p>